/* tooltips */
.tooltip-container {
    /* border: 1px solid red; */
    font-family: 'Open Sans';
}

.tooltip-container .tooltip-total b {
    font-size: 14px;
    letter-spacing: 0px;
    color: #2F3A3C;
}

.tooltip-container .tooltip-total span {
    font-size: 13px;
    letter-spacing: 0px;
    color: #2F3A3C;
}


.tooltip-container .tooltip-data-point div:first-child {
    font-size: 13px;
    letter-spacing: 0px;
    color: #2F3A3C;
}

.tooltip-container .tooltip-data-point div:last-child {
    /* font: normal normal bold 14px/19px Open Sans; */
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #2F3A3C;
}

#inactive-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

#active-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #5BCDA2;
}


.bar-plot-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-plot-container-title .legends .legends-tick {
    display: flex;
    align-items: center;
}

.bar-plot-container-title .legends {
    font-size: 12px;
    margin-right: 8px;
    letter-spacing: 0px;
    color: #444B48;
}

.bar-plot-container-title .legends i {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-right: 6px;
}