/* dashboard css */
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    background: #F3F4F9 0% 0% no-repeat padding-box;
    /* overflow: hidden; */
}

/* header */

header {
    height: 90px;
    background: #487FCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #15223214;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    width: 100vw; */
}

.title {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

.side-header {
    display: flex;
}

.sidebar {
    width: 260px;
    min-height: 92vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: relative;
}

.sidebar-close-btn {
    position: absolute;
    left: 220px;
    padding: 10px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    transition: color 300ms;
    transition: transform 300ms;
}

.sidebar-close-btn:hover {
    color: #6a6a6a;
    transform: scale(1.1);
}

.sidebar .logo {
    width: 100%;
    text-align: center;
}

.sidebar .logo img {
    width: 80%;
    padding: 40px 20px 40px 20px;
}

.sidebar .logo hr {
    width: 92%;
    height: 0px;
    border: 1px solid #DDDDDD;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* border: 1px solid red; */
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 16px;
    border-left: 2px solid white;
}

.sidebar ul li i {
    opacity: 0.6;
}

.sidebar ul li div {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #171725;
    font-weight: 500;
}

.sidebar ul li:hover i {
    opacity: 1;
}

.sidebar ul li:hover {
    background-color: #F2F7FF;
}

.sidebar ul li.active {
    border-left: 2px solid #386CB5;
    background-color: #F2F7FF;
}

.sidebar ul li.active div {
    color: #386CB5;
}

.sidebar ul li.active i {
    opacity: 1;
}

.sidebar ul li:hover div {
    font-weight: 600;
    color: #386CB5;
}

/* 
.sidebar {
    display: none;
} */

.title {
    margin-left: 30px;
}

.add-new-school {
    width: 100px;
    height: 44px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000026;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #386CB5;
    text-transform: uppercase;
    transition: box-shadow 300ms ease;
}

.add-new-school:hover {
    box-shadow: 0 0 6px 6px;
}

.add-new-school span {
    font-size: 20px;
    margin: 0;
}

.options {
    display: flex;
    align-items: start;
    z-index: 90;
}

.notification {
    margin: 8px 30px 0 10px;
    width: 24px;
    height: 24px;
    background: transparent url('../assets/svg/ic-bell.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.notification .badge {
    position: absolute;
    top: -4;
    right: -4;
    width: 16px;
    height: 16px;
    text-align: center;
    background: #F0142F 0% 0% no-repeat padding-box;
    border-radius: 12px;
    font-size: 11px;
    font-family: 'Poppins';
    /* font: normal normal normal 12px/18px Poppins; */
    letter-spacing: 0.07px;
    color: #FFFFFF;
}

.profile {
    width: 206px;
    height: 36px;
    opacity: 1;
}

.profile {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.profile img {
    width: 36px;
    height: 36px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 8px;
}

.profile .name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-right: 0;
    overflow: hidden;
    width: 124px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile div i {
    font-size: 18px;
    /* margin-left: 10px; */
    color: white;
}

/* main */

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh);
    /* border: 1px solid green; */
}

main .container {
    /* border: 1px solid red; */
    margin-top: 6em;
    margin-left: 290px;
    height: calc(100vh - 6em);
    padding: 0 20px 0 20px;
    overflow-y: scroll;
}

.side-header .menu-button {
    color: white;
    font-size: 32px;
    display: none;
    cursor: pointer;
}

/* cards */
.cards {
    display: flex;
    justify-content: space-between;
}

.cards .card {
    width: 20%;
    max-width: 320px;
    /* height: 160px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
    padding: 10px 16px 10px 16px;
}

.cards .card .card-title {
    text-align: left;
    /* font: normal normal 600 16px/22px Open Sans; */
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.4;
}

.cards .card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards .card .card-body span.count {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
}

.cards .card .card-body span span {
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.cards .card .card-bottom {
    margin-top: 10px;
    margin-bottom: 2.8px;
}

.cards .card .card-bottom small {
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.4;
}

.cards .card .card-body .icon {
    border-radius: 50%;
    padding: 14px;
    opacity: 1;
    color: white;
    opacity: 1;
}

/* table */
.table-container {
    /* border: 1px solid red; */
    overflow-x: auto;
    padding: 5px 20px 10px 20px;
    margin-top: 20px;
    /* margin: 20px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px 10px 0px 0px
}

.table-container p.table-title {
    /* font-size: 18px; */
    font-weight: 600;
    letter-spacing: 0px;
    color: #444B48;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container table thead tr {
    /* text-align: left; */
    border-bottom: 1px solid #7e84a33e;
    /* opacity: 0.5; */
}

.table-container table thead tr th[scope="col"] {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    color: #7E84A3;
    text-transform: uppercase;
    opacity: 1;
    padding: 0px 0px 20px 10px;
}

.table-container table thead tr th[scope="col"] i {
    color: black;
    font-size: 10px;
    text-transform: capitalize;
}

.table-container table tbody tr td {
    /* margin: 10px; */
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
}

.table-container table tbody tr th {
    width: 80px;
    height: 80px;
    text-align: left;
}

.table-container table tbody tr th img {
    width: 60px;
    height: 60px;
    border: 1px solid #EEEEEE;
}

.table-container table tbody tr td:last-child a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    color: #487FCC;
}

.table-container table tbody tr td:last-child a i {
    margin-right: -6px;
}

/* end table */

/* drop down */
.profile {
    position: relative;
}

.profile .drop-down {
    display: none;
    position: absolute;
    width: 175px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    /* display: block; */
    padding: 6px;
    list-style: none;
    top: 25px;
    cursor: pointer;
}

.profile .drop-down.active {
    display: block;
}

.profile .drop-down li {
    height: 33px;
    border-bottom: 1px solid #EEEEEE;
    padding: 4px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.profile .drop-down li:hover {
    background-color: #F5F8FF;
}

.profile .drop-down li a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
    /* font: normal normal normal 14px/24px Inter; */
    letter-spacing: 0px;
    color: #222222;
}

.profile .drop-down li i {
    margin-right: 14px;
    font-size: 20px;
}

/* end drop down */


/* @media (max-width: 940px) { */
@media (max-width: 1000px) {
    .sidebar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        box-shadow: 0px 10px 16px #00000029;
        border-radius: 0 10px 10px 0;
        animation: fadeIn ease 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    main .container {
        margin-left: 0;
    }

    .side-header .menu-button {
        display: block;
        z-index: 90;
    }

    .sidebar-close-btn {
        display: block;
    }

    .sidebar.active {
        display: block;
        position: absolute;
    }
}

@media (max-width: 610px) {
    .add-new-school {
        display: none;
    }
}

@media (max-width: 480px) {
    .notification {
        display: none;
    }

    .options .profile div:first-child {
        display: none;
    }

    .options .profile .name {
        display: none;
    }

    .options {
        width: 20px;
        height: 35px;
        justify-content: end;
    }
}

@media (max-width: 800px) {
    .cards {
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }

    .cards .card {
        min-width: 42%;
        margin-top: 10px;
    }

    .profile .drop-down {
        right: 0;
    }
}

@media (max-width: 524px) {
    .cards .card {
        min-width: 40%;
        /* margin: 10px; */
    }
}

@media (max-width: 400px) {
    .cards .card {
        min-width: 90%;
        margin-top: 10px;
    }
}

@media (max-width: 300px) {
    .sidebar {
        width: 200px;
    }

    .sidebar .sidebar-close-btn {
        top: 0;
        left: 160px
    }
}


/* charts css */
.charts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.charts .bar-plot-container {
    padding: 10px;
    width: 46.8%;
    /* height: 350px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
}

.charts .bar-plot-container .options {
    padding: 10px 20px 20px 20px;
    cursor: pointer;
}

.charts .bar-plot-container .options .bar-tab {
    transition: 200ms font-weight;
}



.charts .bar-plot-container .options div.active {
    /* width: 56px;
    height: 24px; */
    /* 487FCC */
    border-bottom: 2px solid #487FCC;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #444B48;
}


.charts .bar-plot-container .options div.divider {
    height: 20px;
    border: 1px solid #444B48;
    opacity: 0.4;
    margin: 0 10px 0 10px;
}

.charts .bar-plot-container .options div.deactive {
    font-size: 18px;
    letter-spacing: 0px;
    color: #444B48;
    opacity: 0.4;
}

.charts .pie-chart-container {
    padding: 10px;
    width: 46.8%;
    /* height: 350px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
}

.charts .pie-chart-container .options {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.charts .pie-chart-container .options .data-usage {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #444B48;
}

.charts .pie-chart-container .options .drop-down {
    width: 160px;
    /* height: 32px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.charts .pie-chart-container .options .drop-down span {
    font-size: 12px;
    letter-spacing: 0px;
    color: #444B48;
}

@media (max-width: 1042px) and (min-width: 1000px) {
    .charts {
        flex-wrap: wrap;
    }

    .charts .bar-plot-container {
        width: 96.8%;
    }

    .charts .pie-chart-container {
        margin-top: 20px;
        width: 96.8%;
    }
}

@media (max-width: 800px) {
    .charts {
        flex-wrap: wrap;
    }

    .charts .bar-plot-container {
        width: 96.8%;
    }

    .charts .pie-chart-container {
        margin-top: 20px;
        width: 96.8%;
    }
}

.notification {
    position: relative;
}

.notification .drop-down-notification {
    display: none;
    position: absolute;
    width: 200px;
    max-height: 75vh;
    overflow-y: auto;
    height: fit-content;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    padding: 6px;
    list-style: none;
    top: 8px;
    z-index: 1;
    cursor: pointer;
}

.notification:hover .drop-down-notification {
    display: block;
}

.notification .drop-down-notification li {
    height: 33px;
    border-bottom: 1px solid #EEEEEE;
    padding: 4px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    /* transition: all ease 300ms; */
}

.notification .drop-down-notification li:hover {
    background-color: #F5F8FF;
}

.notification .drop-down-notification li a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0px;
    color: #222222;
}

/* 
.notification .drop-down-notification li:hover {
    height: fit-content;
    padding: 6px;
}

.notification .drop-down-notification li:hover a {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
} */

.notification .drop-down-notification li i.red-icon {
    margin-right: 10px;
    width: 10px;
    height: 5px;
    background-color: #F0142F;
    border-radius: 25px;
}


.notification .drop-down-notification li i.green-icon {
    margin-right: 10px;
    width: 10px;
    height: 5px;
    background-color: #4BB543;
    border-radius: 25px;
}

.notification .drop-down-notification li i.blue-icon {
    margin-right: 10px;
    width: 10px;
    height: 5px;
    background-color: #0275d8;
    border-radius: 25px;
}


.notification .drop-down-notification li i.yellow-icon {
    margin-right: 10px;
    width: 10px;
    height: 5px;
    background-color: #eed202;
    border-radius: 25px;
}




/* pie chart drop down */



.pie-chart-container .options .drop-down {
    position: relative;
}

.pie-chart-container .options .drop-down .drop-down-pie-chart {
    list-style: none;
    padding: 0;
    position: absolute;
    width: 168px;
    left: 0;
    top: 22px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    display: none;
}


.pie-chart-container .options .drop-down:hover .drop-down-pie-chart {
    display: block;
}

.pie-chart-container .options .drop-down .drop-down-pie-chart li {
    /* height: 33px; */
    border-bottom: 1px solid #EEEEEE;
    padding: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.pie-chart-container .options .drop-down .drop-down-pie-chart li:hover {
    background-color: #F5F8FF;
}