/* dashboard css */
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    background: #F3F4F9 0% 0% no-repeat padding-box;
    /* overflow: hidden; */
}

/* header */

header {
    height: 90px;
    background: #487FCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #15223214;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    width: 100vw; */
}

.title {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

.side-header {
    display: flex;
}

.sidebar {
    width: 260px;
    min-height: 92vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: relative;
}

.sidebar-close-btn {
    position: absolute;
    left: 220px;
    padding: 10px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    transition: color 300ms;
    transition: transform 300ms;
}

.sidebar-close-btn:hover {
    color: #6a6a6a;
    transform: scale(1.1);
}

.sidebar .logo {
    width: 100%;
    text-align: center;
}

.sidebar .logo img {
    width: 80%;
    padding: 40px 20px 40px 20px;
}

.sidebar .logo hr {
    width: 92%;
    height: 0px;
    border: 1px solid #DDDDDD;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* border: 1px solid red; */
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 16px;
    border-left: 2px solid white;
}

.sidebar ul li i {
    opacity: 0.6;
}

.sidebar ul li div {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #171725;
    font-weight: 500;
}

.sidebar ul li:hover i {
    opacity: 1;
}

.sidebar ul li:hover {
    background-color: #F2F7FF;
}

.sidebar ul li.active {
    border-left: 2px solid #386CB5;
    background-color: #F2F7FF;
}

.sidebar ul li.active div {
    color: #386CB5;
}

.sidebar ul li.active i {
    opacity: 1;
}

.sidebar ul li:hover div {
    font-weight: 600;
    color: #386CB5;
}

/* 
.sidebar {
    display: none;
} */

.title {
    margin-left: 30px;
}

.add-new-school {
    width: 190px;
    height: 44px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000026;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #386CB5;
    text-transform: uppercase;
}

.add-new-school span {
    font-size: 20px;
    margin: 0;
}

.options {
    display: flex;
    align-items: start;
    z-index: 90;
}

.notification {
    margin: 8px 30px 0 10px;
    width: 24px;
    height: 24px;
    background: transparent url('../assets/svg/ic-bell.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.notification .badge {
    position: absolute;
    top: -4;
    right: -4;
    width: 16px;
    height: 16px;
    text-align: center;
    background: #F0142F 0% 0% no-repeat padding-box;
    border-radius: 12px;
    font-size: 11px;
    font-family: 'Poppins';
    /* font: normal normal normal 12px/18px Poppins; */
    letter-spacing: 0.07px;
    color: #FFFFFF;
}

.profile {
    width: 206px;
    height: 36px;
    opacity: 1;
}

.profile {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.profile img {
    width: 36px;
    height: 36px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 8px;
}

.profile .name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-right: 0;
    overflow: hidden;
    width: 124px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile div i {
    font-size: 18px;
    margin-left: 20px;
    color: white;
}

/* main */

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh);
    /* border: 1px solid green; */
}

main .container {
    /* border: 1px solid red; */
    margin-top: 6em;
    margin-left: 290px;
    height: calc(100vh - 6em);
    overflow-y: scroll;
}

.side-header .menu-button {
    color: white;
    font-size: 32px;
    display: none;
    cursor: pointer;
}

/* cards */
.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    width: 20%;
    max-width: 320px;
    /* height: 160px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
    padding: 10px 16px 10px 16px;
}

.cards .card .card-title {
    text-align: left;
    /* font: normal normal 600 16px/22px Open Sans; */
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.4;
}

.cards .card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards .card .card-body span.count {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
}

.cards .card .card-body span span {
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.cards .card .card-bottom {
    margin-top: 10px;
    margin-bottom: 2.8px;
}

.cards .card .card-bottom small {
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.4;
}

.cards .card .card-body .icon {
    border-radius: 50%;
    padding: 14px;
    opacity: 1;
    color: white;
    opacity: 1;
}


/* @media (max-width: 940px) { */
@media (max-width: 1000px) {
    .sidebar {
        display: none;
        box-shadow: 0px 10px 16px #00000029;
        animation: fadeIn ease 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    main .container {
        margin-left: 0;
    }

    .side-header .menu-button {
        display: block;
        z-index: 90;
    }

    .sidebar-close-btn {
        display: block;
    }

    .sidebar.active {
        display: block;
        position: absolute;
    }
}

@media (max-width: 695px) {
    .add-new-school {
        display: none;
    }
}

@media (max-width: 480px) {
    .notification {
        display: none;
    }

    .options .profile div:first-child {
        display: none;
    }

    .options .profile .name {
        display: none;
    }

    .options {
        width: 20px;
        height: 35px;
        justify-content: end;
    }
}

@media (max-width: 300px) {
    .sidebar {
        width: 200px;
    }

    .sidebar .sidebar-close-btn {
        top: 0;
        left: 160px
    }
}


@media (max-width: 800px) {
    .cards {
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }

    .cards .card {
        min-width: 40%;
        margin: 10px;
    }
}

@media (max-width: 524px) {
    .cards .card {
        min-width: 35%;
        margin: 10px;
    }
}

@media (max-width: 351px) {
    .cards .card {
        min-width: 80%;
        margin: 10px;
    }
}