body {
    background-image: url('../assets/img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.center-items {
    width: calc(100vw - 12px);
    height: 100vh;
}

.logo {
    width: 25em;
    height: 6.25em;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-container .card {
    width: 420px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 20px;
}

.card .card-body {
    margin: 20px;
}

.control-overflow {
    overflow-y: scroll;
    height: 510px;
}


.control-overflow::-webkit-scrollbar {
    display: none;
}

.control-overflow {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.card .card-body .card-title {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    position: sticky;
    background-color: #FFFFFF;
    top: 0;
}

.card .card-body .card-caption {
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.error {
    font-size: 12px;
    letter-spacing: 0px;
    color: #FF0000;
}

label[for=remember-me] {
    font-size: 16px;
    letter-spacing: 0px;
    color: #0000009a;
}


.register-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    outline: none;
    border: none;
    width: 50%;
    height: 40px;
    color: white;
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    padding: 0 5px 0 15px;
    border-radius: 6px;
}

.register-button:disabled {
    opacity: 0.5;
}

.register-button img {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    object-fit: fill;
}

.card-bottom {
    margin-top: 20px;
}

.card-bottom span {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
}

.card-bottom button {
    font-size: 12px;
    width: 120px;
    height: 50px;
    background: #FEC006 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
    border-radius: 6px;
    outline: none;
    border: none;
}

.card-bottom button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.copyright-text {
    margin-top: 18px;
    width: 400px;
    height: 38px;
    margin-left: 8px;
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    font-size: 12px;
}

.tabs {
    margin-top: 20px;
}

.tabs .active {
    border-bottom: 3px solid #386CB5;
    min-width: 48%;
    font-weight: 600;
    color: #386CB5;
    font-size: 14px;
}

.tabs div {
    border-bottom: 3px solid #AFC4E1;
    min-width: 48%;
    font-weight: 600;
    color: #AFC4E1;
}

.create-password-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
}

.create-password-helper-text {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.register-button-container {
    display: flex;
    justify-content: flex-end;
}


.input-group {
    overflow: hidden;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    height: 60px;
}


.form-floating label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #222222;
}

.form-control {
    width: 276px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border-radius: 0;
    border: none;
}

.form-control:focus {
    background: #F7FAFF 0% 0% no-repeat padding-box;
    box-shadow: none;
    border-bottom: 2px solid #386CB5;
}

.input-group-prepend {
    width: 35px;
    height: 58px;
}

.input-group-text {
    width: 100%;
    height: 100%;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border-radius: 0;
    border: none;
    padding: 0 4px 0 0;
}

.input-group-img img {
    width: 15px;
    height: fit-content;
    object-fit: cover;
}

.my-2 {
    width: 166px;
}

.my-2-form-control {
    width: 100%;
}

.my-1-form-floating {
    width: 100%;
}

.my-1-form-floating label {
    font-size: 14px;
}

.form-check-input {
    width: 14px;
    height: 14px;
}

.form-check-input:checked {
    background-color: #08D152;
    outline: none;
    border: none;
}

label[for=terms-and-conditions] {
    margin-left: 10px;
    font-size: 12px;
    /* font: normal normal normal 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #00000080;
}

.terms-and-conditions a {
    font-weight: 600;
    color: #386CB5;
    text-decoration: none;
}

.card-bottom .create-button {
    font-size: 12px;
    width: 120px;
    height: 50px;
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    outline: none;
    border: none;
}

.card-bottom .create-button:disabled {
    opacity: 0.5;
}

.card-bottom .create-button span {
    font-size: 12px;
    color: white;
}

#step-01 {
    display: block;
    animation: fadeInAnimation ease 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#step-02 {
    display: none;
    animation: fadeInAnimation ease 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#step-02 .form-control {
    width: 100%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 860px) and (min-width: 768px) {
    .logo {
        width: 75%;
    }

    .form-container .card {
        width: 90%;
    }

    .input-group .form-floating .form-control {
        width: 224px;
    }

    .my-2 {
        width: 140px;
    }
}

@media (max-width: 768px) {
    .form-container .card {
        margin-left: 6%;
    }

    .copyright-text {
        margin-left: 30px;
    }
}

@media (max-width: 460px) {
    .logo {
        width: 75%;
    }

    .form-container .card {
        margin-left: 17%;
        width: 75%;
    }

    .form-container .form-floating .form-control {
        width: 160px;
    }

    .copyright-text {
        margin-left: 30px;
    }
}

@media (max-width: 360px) {
    .logo-container {
        width: 100vw;
        margin-left: 30px;
    }

    .form-container .card {
        width: 65%;
        margin-left: 26%;
    }

    .form-container .form-floating .form-control {
        width: 160px;
    }

    .form-container .form-floating .form-control+label {
        font-size: 12px;
    }

    .copyright-text {
        margin-left: 70px;
    }
}

@media (max-width: 310px) {
    .form-container .card {
        margin-left: 30%;
    }

    .copyright-text {
        margin-left: 120px;
    }
}

@media (max-width: 460px) {
    .register-button {
        font-size: 12px;
        width: 120px;
    }

    .my-2 {
        width: 120px;
    }

    .my-2 .my-2-form-control {
        width: 100% !important;
    }

    .my-2:nth-child(1) {
        margin-right: 10px;
    }
}