.rich-text-editor-page {
  display: flex;
}

.rich-text-editor-page .wrapper-class {
  width: 50vw;
  border: 1px solid black;
}

.rich-text-editor-page .editor-class {
  height: calc(100vh - 300px);
}

.DraftEditor-root {
  height: 90% !important;
}

.rich-text-editor-page .rich-text-container {
  border: 1px solid black;
  border-left: none;
  width: 50vw;
  text-wrap: wrap;
  word-break: break-all;
}
