.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #b3b3b3;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #626262;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
