::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #bababa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4bb6e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ee6969;
}

#pincode::-webkit-outer-spin-button,
#pincode::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#pincode[type=number], #phone[type=number] {
  -moz-appearance: textfield;
}