body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background-color: #181818;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  opacity: 0;
  height: 0;
  transition: all 1s ease;
  border-left: 2px solid rgb(81, 97, 126);
}

* input[type=checkbox] { 
  display: none;
}

.folder input:checked ~ ul {
  opacity: 1;
  height: fit-content;
}

.folder input:checked ~ .folder-title {
  color: rgb(182, 3, 104);
}

.folder input:checked ~ .folder-title:hover {
  background-color: #343434;
}

.folder .folder-title {
  color: white;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  border-radius: 25px;
  transition: all 300ms;
}

.folder .folder-title:hover {
  background-color: white;
  color: #181818;
}

.file-name {
  color: rgb(121, 168, 255);
  cursor: pointer;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  border-radius: 25px;
  transition: all 300ms;
}

.file-name:hover {
  background-color: #6d6d6d;
  color: white;
}


/* scroll bar */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}